body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #bce3c6;
}

dialog {
    border-radius: 8px;
    border: 1px solid grey;
}

dialog#dlgServerConnection {
    background-color: #de9b9b;
}

header {
    width: calc(100vw - 15px);
    background-color: blue;
    color: white;
    text-align: right;
    padding: 5px;
    padding-right: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

screen {
    display: none;
    height: fit-content;
    width: calc(100vw - 30px);
    padding: 0;
}